<h1>List</h1>

{{#each hotels}}
<a href="/details?id={{this._id}}">
    <fieldset>
    <legend>{{this.title}}</legend>
    <p>{{this.location}}</p>
    <img class="hotelImg" src="{{this.image}}" alt="hotel image">
    <p>{{this.description}}</p>
</fieldset>
</a>
{{else}}
    <h3>No hotels yet!</h3>
{{/each}}